
.plano-fundo{
  background-image: url("https://images.pexels.com/photos/6664247/pexels-photo-6664247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.col-conteudo{
display: flex;
justify-content: center;
align-items: center;
padding-top: 5rem;
}

.btn-criarconta{
display: flex;
justify-content: center;
align-items: center;
margin-top: 15px;
}

.btn-login{
  margin-top: 25px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h-1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}