<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Etec</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Menu Superior -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-segment value="desenvolvimento_sistemas" (ionChange)="trocouCurso($event)">
        <ion-segment-button value="desenvolvimento_sistemas">
          <ion-label>Desenvolvimento de Sistemas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="informatica_internet">
          <ion-label>Informática para Internet</ion-label>
        </ion-segment-button>
        <ion-segment-button value="quimica">
          <ion-label>Química</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <!-- Conteúdo de Desenvolvimento de Sistemas -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Ionic & Bootstrap</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>HTML & CSS</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Síncrono & Assíncrono</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

   <!-- Conteúdo de Informática para Internet -->
   <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Ionic & Bootstrap</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>HTML & CSS</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Síncrono & Assíncrono</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

   <!-- Conteúdo de Química -->
   <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Ionic & Bootstrap</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>HTML & CSS</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Síncrono & Assíncrono</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>



  
</ion-content>
