

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" size-lg="8" class="ion-text-center">
      <!-- cabeçalho-->
  <ion-row> 
     <ion-col size="4"> <!--coluna da esquerda  -->
      <img src="https://i.ytimg.com/vi/QTuFUfttWQQ/maxresdefault.jpg">
    </ion-col>
    
    <!-- coluna da direita -->
    <ion-col size="8">
      <ion-row>
        <ion-col size="12">
          <ion-label>{{perfil.nome}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">{{perfil.profissao}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="full" shape="round" color="primary" (click)="this.setSeguir()">{{this.seguir_status}}</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" shape="round" color="secondary" routerLink="/mensagem">Mensagem</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
    
  <!-- metricas sociais -->
  
  <ion-row>
    <ion-col size="4"> <!-- curtidas -->
      <ion-row>
        <ion-col size="12">
          <ion-label>{{this.metricas_sociais.curtidas}}</ion-label>
      </ion-col>
      </ion-row>

      <ion-row>
      <ion-col size="12">
        <ion-label>Curtidas</ion-label>
      </ion-col>
      </ion-row>
    </ion-col>
  
  <!-- seguidores -->
    <ion-col size="4">
      <ion-row>
        <ion-col size="12">
          <ion-label>{{this.metricas_sociais.seguidores}}</ion-label>
      </ion-col>
      </ion-row>

      <ion-row>
      <ion-col size="12">
        <ion-label>Seguidores</ion-label>
      </ion-col>
      </ion-row>
    </ion-col>

    <!-- Amigos -->
    <ion-col size="4">
      <ion-row>
        <ion-col size="12">
          <ion-label>{{this.metricas_sociais.amigos}}</ion-label>
      </ion-col>
      </ion-row>

      <ion-row>
      <ion-col size="12">
        <ion-label>Amigos</ion-label>
      </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- Linha de divisão -->
  <ion-row>
    <ion-col size="12">
      <ion-item-divider></ion-item-divider>
    </ion-col>
  </ion-row>

  <!-- sobre -->
  <ion-row>
    <ion-col size="12">Sobre</ion-col>
    <ion-col size="12">{{this.perfil.biografia}}</ion-col>
  </ion-row>

  <!-- postagens de amigos -->
  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-label>Postagens de amigos</ion-label>
    </ion-col>
  </ion-row>

  <!-- postagens -->
  <ng-container *ngFor="let post of this.postagens">
    <ion-row>
      <ion-col size="4">
        <ion-avatar>
          <ng-container *ngIf="post.perfil.foto">
            <img src="{{post.perfil.foto}}">  
          </ng-container>
          <ng-container *ngIf="!post.perfil.foto">
            <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-256.png">
          </ng-container>
        </ion-avatar>
      </ion-col>
  
      <ion-col size="8">
        <ion-row>
          <ion-col size="6"> <ion-label>{{post.perfil.nome}}</ion-label>
          </ion-col>
          <ion-col size="6"><ion-label>{{post.perfil.mencao_perfil}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="12">
          <ion-label>{{post.postagem.mensagem}}</ion-label>
        </ion-col>
      </ion-row>

      <ng-container *ngIf="post.postagem.foto">
        <ion-row>
          <ion-col size="12">
            <img src="{{post.postagem.foto}}">
          </ion-col>
        </ion-row>
      </ng-container>
      
    </ion-col>
    </ion-row>
  </ng-container>
  

    </ion-col>
  </ion-row>
  


</ion-content>
