<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size = "6" class="plano-fundo">
    </ion-col>
    <!-- parte dos inputs -->
    <ion-col size = "6" class="col-conteudo"> 

      <ion-list>
        <ion-label><h1 class="h-1">Criar Conta</h1></ion-label>
        <ion-item>
          <ion-input
            labelPlacement="stacked"
            [clearOnEdit]="true"
            placeholder="Nome">
        </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            labelPlacement="stacked"
            [clearOnEdit]="true"
            type="email"
            placeholder="E-mail">
          </ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input
            labelPlacement="stacked"
            type="password"
            placeholder="Senha">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            labelPlacement="stacked"
            type="password"
            placeholder="Confirmar senha">
          </ion-input>
        </ion-item>
        <div class="btn-criarconta">
          <ion-button shape="round" color="success">Criar conta</ion-button>
        </div>  

        <div class="btn-login">
          <h6>Login com</h6>
          <ion-button shape="round" color="primary">facebook</ion-button> 
          <ion-button shape="round" color="secondary">twitter</ion-button> 
          <ion-button shape="round" color="danger">google</ion-button>
        </div>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
